@import url('https://fonts.googleapis.com/css2?family=Changa:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css");

    /* PÁGINA PRINCIPAL */
/* Mudanças em cores/formatos */

body{
    background-color: #1B1811;
}
.fira-branco{
    font-family: Fira Sans;
    color:#FDFFFC;
}
.fira-preto{
    font-family: Fira Sans;
    color:#1B1811;
}
.fira-verde{
    font-family: Fira Sans;
    color:#78BC61;   
}
.changa{
    font-family: Changa;
    color: #78BC61;
}


/* Menu */

.menu ul li a{
    color:#FDFFFC;
    border-style: none;
}
.menu ul li a:hover{
    color:#78BC61;
}

.menu a.ativo{
    color:#78BC61;
}


/* Imagem principal */

.titulo{
    top: 40%;
    width:100%;
    line-height: 30px;
    position: absolute;
    text-align: center;
}
/* Conteúdo da página */

.conteudo{
    margin-left:10%;
    margin-right: 10%;
    margin-top: 5%;
}
.conteudo h2{
    font-family: Changa;
    color: #78BC61;
}

.conteudo a:hover{
    color:#FDFFFC;
}

/* Rodapé */
footer{
    background-color: #78BC61;
}

/* CADASTRO/LOGIN */

.cadastro{
    margin-top:5%;
    background-color:#FDFFFC;
    border-radius: 20px;
    width:70%;
    margin-left: 15%;
}
.centralizar{
    width:100%;
    text-align: center;
}
.caixa{
    margin-left: 5%;
}
.textbox{
    width:95%;
    margin-bottom: 20px;
}
.botao{
    width:60%;
    background-color: #78BC61;
}

.verde{
    background-color: #78BC61;
}

/* PÁGINA INICIAL */

.destaque{
    top: 5%;
    width:100%;
    line-height: 30px;
    position: absolute;
    margin-left: 50px;
}
.imagem{
    filter: opacity(50%);
}
.espaco{
    margin-top:5%;
}
.alinhar{
    height: 400px;
    margin-left: 7%;
}
.icone{
    float: left;
    margin:4%;
    text-align: center;
    height:130px;
}
.podium{
    margin-top:5%;
    margin-left: 5%;
    margin-bottom: 5%;
    width:90%;
}
.nomejogo{
    width: 128px;
    margin-top: 10px;
}

.changa-primeiro{
    font-family: Changa;
    color: #FFD700;
}
.borda-primeiro{
    border: 10px solid #FFD700;
    border-radius: 10%;
}

.changa-segundo{
    font-family: Changa;
    color: #C0C0C0;
}
.borda-segundo{
    border: 10px solid #C0C0C0;
    border-radius: 10%;
}

.changa-terceiro{
    font-family: Changa;
    color: #CD7F32;
}
.borda-terceiro{
    border: 10px solid #CD7F32;
    border-radius: 10%;
}

.changa-branco{
    font-family: Changa;
    color: #FFFFFF;
}
.borda-branco{
    border: 10px solid #fff;
    border-radius: 10%;
}

/* LOJA */

.loja{
    margin-top: 50px;
    height: 1000px;
    background-color: #FDFFFC;
    width: 90%;
    margin-left: 5%;
    border-radius: 17px;
    margin-bottom: 50px;
}

.menu-filtros{
    border-bottom: 3px solid #1B1811;
    font-size: 20px;
    border-radius: 17px;
    background-color: grey;
    height: 50px;
}